<div class="row justify-content-between">
  <div class="col-md-6">
    <form class="form-inline" [formGroup]="searchForm">
      <div class="form-group">
        <input class="form-control" type="text" formControlName="text" placeholder="Search" (input)="SearchChange()">
        <i class="fas fa-search right-icon" *ngIf="SearchIcon"></i>
        <div class="col-auto">
          <button type="submit" class="btn btn-success" (click)="Search()"> Search </button>
          <a type="button" class="btn btn-default" (click)="ShowModal()">
            <i class="fas fa-search-plus"></i> Advanced Search
          </a>
          <a type="button" class="btn btn-default" [ngClass]="{'fa-spin': isClicked }" (click)="Refresh()">
            <i class="fas fa-sync-alt"></i>
          </a>
        </div>
      </div>
    </form>
  </div>
    <div class="col-md-6">
      <div class="float-right">
        <ng-container *ngIf="name != 'My Tasks'">
          <form class="form-inline" [formGroup]="typeStatus">
            <div class="my-1 mr-2">
              <div class="custom-control custom-checkbox custom-control-inline">
                <input id="progress" value="progress" class="custom-control-input" type="checkbox" formControlName="progress"
                  (change)="OnChangeStatus()">
                <label class="custom-control-label" for="progress"> On Progress </label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input id="complete" value="complete" class="custom-control-input" type="checkbox" formControlName="complete"
                  (change)="OnChangeStatus()">
                <label class="custom-control-label" for="complete"> Complete </label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input id="cancel" value="cancel" class="custom-control-input" type="checkbox" formControlName="cancel"
                  (change)="OnChangeStatus()">
                <label class="custom-control-label" for="cancel"> Cancel </label>
              </div>
            </div>
            <label class="my-1 mr-2" for="PageLenght">Show</label>
              <select class="custom-select my-1 mr-sm-2" (change)="ChangePageLength($event)">
                <option *ngFor="let item of length" value="{{item}}">{{item}}</option>
              </select>
            <label class="my-1 mr-2" for="PageLenght">entries</label>
          </form>
        </ng-container>
        <ng-container *ngIf="name == 'My Tasks'">
          <form class="form-inline">
            <label class="my-1 mr-2" for="PageLenght">Show</label>
              <select class="custom-select my-1 mr-sm-2" (change)="ChangePageLength($event)">
                <option *ngFor="let item of length" value="{{item}}">{{item}}</option>
              </select>
            <label class="my-1 mr-2" for="PageLenght">entries</label>
          </form>
        </ng-container>
      </div>
    </div>
</div>
