input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.nv-file-over {
  border: dotted 3px red;
}

input[type=file] {
  color: transparent;
}

.upload-box {
  margin: 10px 0px 10px 0px;
  border-top: 1px solid #ced4da;
}

.ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
}

.text-feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

span .dropdown-down {
  border-top: 5px solid #adadad !important;
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
}

.ng-select .ng-arrow-wrapper {
  width: 30px;
  padding-right: 20px !important;
}

.dropdown-btn span {
  color: #9fa1a3 !important;
}

.dropdown-btn .selected-item {
  color: #ffffff !important;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(56, 56, 56);
  border-radius: 0px;
  box-sizing: border-box;
}

.card-initiative {
  border: none;
}

.multiselect-dropdown .dropdown-btn {
  border: 1px solid #ced4da !important;
}

.modal-Investment {
  margin-top: 4%;
}

.label-investment {
  padding: .4rem .5rem;
  margin-bottom: 0em;
}

.loader-layout {
  height: 136px;
}

.mtp {
  margin-top: 20px !important;
}

.btn-width {
  width:150px;
}

.modal-Attachment {
  margin-top: 4%;
}

.btn-co {
  width: 1080px;
}

