<div class="row" style="height: 600px;">
  
  <div class="col-md-12" style="position:absolute">  <!--position:absolute-->
    <div style="padding-left: 0px">
      <div style="width: 1200px; height: 50%;">
        <canvas id="Chart">
        </canvas>
      </div>
    </div>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-2" style="font-size: 12px;position:absolute;padding-left: 100px;padding-top: 80px;" *ngIf="columnNumber > 48">
    <table border="1" class="" style="background-color:#ffffff;width: 200px;box-shadow: 2px 2px 4px #737373;">
      <tr style="text-align: center;background: #eeeeee;">
        <td colspan="2">Current Achievement (M.THB)</td>
      </tr>
      <tr *ngFor="let item of result['datasets']">
        <td>
          &nbsp;{{item.label}}
        </td>
        <td>
          &nbsp;{{item.data[nowWeek]}}
        </td>
      </tr>
    </table>
  </div>
</div>
<div style="margin-left:60px;width:1160px" class="row" *ngIf="columnNumber > 48">
<div *ngFor="let index of ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']">
   <div style="border-style: groove;text-align:center;width:95px">{{index}}</div>
</div>
  <!--<div style="border-style: groove;text-align:center;width:100px">1</div>
  <div style="border-style: groove;text-align:center;width:290px">2</div>
  <div style="border-style: groove;text-align:center;width:290px">3</div>
  <div style="border-style: groove;text-align:center;width:290px">4</div>-->
</div>
<hr>
<table border="1" class="table table-bordered" *ngIf="showTable">
    <tr>
        <th>Workstream</th>
        <th  *ngFor="let item of result['datasets'] ">{{item.label}}</th>
    </tr>
   <tr *ngFor="let item of result['dataLabel']; let i = index ">
        <td>{{ item }}</td>
        <td  *ngFor="let item of result['datasets'] ">{{ item.data[i]  }}</td>
    </tr>
</table>
<a [routerLink]="['/initiative/dashboard']" type="button" class="btn btn-info btn-sm">
  << Back to Menu</a>
