<div class="bg-user">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="user-form">
          <form class="form-user" (ngSubmit)="Login()" [formGroup]="loginForm">
            <div class="card">
              <div class="card-body">
                <div class="text-center mb-4">
                  <img class="mb-4" src="../../../../assets/images/logo_pttgc.png" alt="" width="250" height="72">
                  <h1 class="h3 mb-3 font-weight-normal"> Login </h1>
                  <p>PTT GC </p >
                  <span *ngIf="error" class="text-danger">
                    {{ error }}
                  </span>
                </div>
                <div class="form-label-group">
                  <input type="text" class="form-control" placeholder="Username" required formControlName="username"
                  [ngClass]="{'is-invalid': loginForm.get('username').errors && loginForm.get('username').touched}">
                  <label for="username"> Username </label>
                  <div class="invalid-feedback"
                    *ngIf="loginForm.get('username').touched && loginForm.get('username').hasError('required')">
                    Username is required
                  </div>
                </div>
                <div class="form-label-group">
                  <input type="password" class="form-control" placeholder="Password" required formControlName="password" autocomplete="on"
                  [ngClass]="{'is-invalid': loginForm.get('password').errors && loginForm.get('password').touched}">
                  <label for="password">Password</label>
                   <div class="invalid-feedback"
                    *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')">
                    Password is required
                  </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid"> Login </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

