<div class="row justify-content-between">
    <div class="col-md-6">
        <form class="form-inline" [formGroup]="searchForm">
            <div class="form-group">
                <input class="form-control" type="text" formControlName="text" placeholder="Search" >
                <i class="fas fa-search right-icon" *ngIf="SearchIcon"></i>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success" (click)="Search()"> Search </button>
                    <a type="button" class="btn btn-default" (click)="RefreshData()" >
                        <i class="fas fa-sync-alt"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>    
</div>