<ng-container *ngIf="IsApprove">
  <div bsModal #ViewLogHistoryModal="bs-modal" class="modal fade modal-ViewLog" [config]="{ backdrop: 'static' }">
    <app-view-log-history (modelClose)="CloseViewLogHistory()" [id]="id"></app-view-log-history>
  </div>

  <div bsModal #HistoryStatus="bs-modal" class="modal fade modal-ViewLog" [config]="{ backdrop: 'static' }">
     <app-history-status (modelClose)="CloseHistoryStatus()" [id]="id" [stage]="history"></app-history-status>
  </div>
</ng-container>

<ng-container *ngIf="Impact">
  <div bsModal #ContactIO="bs-modal" class="modal fade modal-ViewLog" [config]="{ backdrop: 'static' }">
    <app-contact-io (modelClose)="CloseContactIO()" [id]="id"></app-contact-io>
  </div>
</ng-container>

<div class="form-group row mt-3">
  <div class="col-md-12">
    <h3>
      &nbsp;&nbsp;&nbsp;{{ name }}
      <ng-container *ngIf="IsApprove">
        <button class="btn btn-outline-info float-right" (click)="ShowViewLogHistory()">
          <i class="fas fa-history"></i> View Log History
        </button>
      </ng-container>
      <ng-container *ngIf="Impact">
        <button class="btn btn-outline-dark float-right mr-3" (click)="ShowContactIO()">
          <i class="fas fa-comment-dots mr-2"></i> Contact IO
        </button>
      </ng-container>
    </h3>
    <hr>
  </div>
</div>
