<table class="table table-hover">
  <thead>
    <tr class="table-active text-center table-initiative">
      <th width="5%" [ngStyle]="{ cursor: 'pointer' }" (click)="SortBy('id')">
        Initiative ID
      </th>
      <th width="10%" [ngStyle]="{ cursor: 'pointer' }" (click)="SortBy('name')">
        Initiative Name
      </th>
      <th width="14%" [ngStyle]="{ cursor: 'pointer' }" (click)="SortBy('owner')">
        Owner
      </th>
      <th width="5%">Assign To</th>
      <th width="8%" [ngStyle]="{ cursor: 'pointer' }" (click)="SortBy('register')">
        Register Date
      </th>
      <th width="8%" [ngStyle]="{ cursor: 'pointer' }" (click)="SortBy('organization')">
        Organization
      </th>
      <th width="8%" [ngStyle]="{ cursor: 'pointer' }" (click)="SortBy('type')">
        Initiative Types
      </th>
      <th width="18%">Stages</th>
      <th width="8%" [ngStyle]="{ cursor: 'pointer' }" (click)="SortBy('status')">
        Status
      </th>
      <th width="20%">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of initiatives; let i = index" class="table-initiative"
      (click)="ActionInitiative(item.status, item.id, item.initiativeType)">
      <td class="text-center">{{ item.initiativeCode }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.ownerName }}</td>
      <td>
        {{
          item.initiativeActions.length !== 0
            ? item.initiativeActions[0].actionByName
            : null
        }}
      </td>
      <td class="text-center">
        {{ item.registeringDate | date: "dd/MM/yyyy" }}
      </td>
      <td class="text-center">{{ item.organization }}</td>
      <td class="text-center">
        <span *ngIf="CheckInitiativeType(item.initiativeType)">
          {{ item.initiativeType | uppercase }}
        </span>
        <span *ngIf="item.cim"> CIM </span>
        <span *ngIf="item.pim"> PIM </span>
        <span *ngIf="item.dim"> DIM </span>
        <span *ngIf="item.cpi"> CPI </span>
        <span *ngIf="item.directCapex"> Direct CAPEX </span>
        <span *ngIf="item.strategy"> Strategy </span>
        <span *ngIf="item.randD"> R&D </span>
        <span *ngIf="item.max"> MAX </span>
        <span *ngIf="item.other"> Other </span>
      </td>
      <td class="text-center">
        <span *ngIf="item.stage">
          <i class="fas fa-circle text-success icon-LI"></i>
          {{ item.stage | uppercase }} <br />
        </span>
      </td>
      <td class="text-center">
        <span class="badge badge-dark text-white" *ngIf="item.status == 'draft'">
          Draft
        </span>
        <span class="badge badge-dark text-white" *ngIf="item.status == 'add more'">Add more
        </span>
        <span class="badge badge-dark text-white" *ngIf="item.status == 'add more pool'">Add more Pool
        </span>
        <span class="badge badge-warning text-white" *ngIf="item.status == 'admin check'">
          Admin check
        </span>
        <span class="badge badge-info" *ngIf="item.status == 'wait for submission'">
          Wait for submission
        </span>
        <span class="badge badge-warning text-white" *ngIf="item.status == 'wait for approval'">
          Wait for approval
        </span>
        <span class="badge badge-info" *ngIf="item.status == 'revise'">
          Revise
        </span>
        <span class="badge badge-info" *ngIf="item.status == 'revised'">
          Revised
        </span>
        <span class="badge badge-danger" *ngIf="item.status == 'reject'">
          Reject
        </span>
        <span class="badge badge-danger" *ngIf="item.status == 'rejected'">
          Rejected
        </span>
        <span class="badge badge-success" *ngIf="item.status == 'approved'">
          Approved
        </span>
        <span class="badge badge-secondary" *ngIf="item.status == 'cancelled'">
          Cancelled
        </span>
        <span class="badge badge-success" *ngIf="item.status == 'finish'">
          Finish
        </span>
        <span class="badge badge-success" *ngIf="item.status == 'principle approved'">
          Principle Approved
        </span>
        <span class="badge badge-warning text-white" *ngIf="item.status == 'wait for review'">
          Wait for review
        </span>
        <span class="badge badge-warning text-white" *ngIf="item.status == 'wait for create App.'">
          Wait for create App.
        </span>
        <span class="badge badge-warning text-white" *ngIf="item.status == 'wait for create WBS'">
          Wait for create WBS
        </span>
        <span class="badge badge-warning text-white" *ngIf="item.status == 'wait for cancellation'">
          Wait for Cancellation
        </span>
      </td>
      <td class="text-center">
        <!-- My Task -->
        <ng-template [ngIf]="name == 'My Tasks'">
          <ng-container *ngIf="CheckApproveMyTask(item.status)">
            <a type="button" class="btn btn-success btn-sm mr-1 text-white btn-list" (click)="Approve(item.id)">
              <i class="fas fa-clipboard-check"></i>
            </a>
          </ng-container>
          <ng-container *ngIf="CheckActionMyTask(item.status)">
            <a type="button" class="btn btn-warning btn-sm mr-1 text-white btn-list"
              (click)="Edit(item.id, item.initiativeType)">
              <i class="fas fa-pencil-alt"></i>
            </a>
            <button type="button" class="btn btn-danger btn-sm mr-1 btn-list" (click)="DeleteInitiative(item.id, item.initiativeType, item.stage, item.status)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </ng-container>
        </ng-template>

        <!-- My Own -->
        <ng-template [ngIf]="name == 'My Own Initiatives'">
          <ng-container *ngIf="CheckViewMyOwn(item.status)">
            <a type="button" class="btn btn-info btn-sm mr-1 text-white btn-list"
              (click)="Information(item.id, item.initiativeType)">
              <i class="fas fa-eye"></i>
            </a>
          </ng-container>
          <ng-container *ngIf="CheckFinishMyOwn(item.status, item.initiativeType)">
            <a class="ml-3 mr-1 text-primary" id="addmore" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fas fa-ellipsis-v"></i>
            </a>
            <div class="dropdown-menu mt-3" aria-labelledby="addmore">
              <a class="dropdown-item dropdown-item-border" (click)="Addmore(item.id)">Add more CAPEX</a>
              <a class="dropdown-item dropdown-item-border">Return CAPEX </a>
              <a class="dropdown-item dropdown-item-border">Carried CAPEX </a>
              <a class="dropdown-item">Revised Plan </a>
            </div>
          </ng-container>
          <ng-container *ngIf="CheckPool(item.status, item.initiativeType)">
            <a class="ml-3 mr-2 text-primary" id="addPool" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fas fa-ellipsis-v"></i>
            </a>
            <div class="dropdown-menu mt-3" aria-labelledby="addPool">
              <a class="dropdown-item dropdown-item-border" (click)="AddmorePool(item.id)">Add more Pool</a>
              <a class="dropdown-item dropdown-item-border">Return CAPEX </a>
              <a class="dropdown-item dropdown-item-border">Carried CAPEX </a>
              <a class="dropdown-item">Revised Plan </a>
            </div>
          </ng-container>
          <ng-container *ngIf="CheckActionMyOwn(item.status)">
            <a type="button" class="btn btn-warning btn-sm mr-1 text-white btn-list"
              (click)="Edit(item.id, item.initiativeType)">
              <i class="fas fa-pencil-alt"></i>
            </a>
            <button type="button" class="btn btn-danger btn-sm mr-1 btn-list" (click)="DeleteInitiative(item.id, item.initiativeType, item.stage, item.status)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </ng-container>
        </ng-template>

        <!-- OverView -->
        <ng-template [ngIf]="name == 'Overview'">
          <a *ngIf="CheckOverView(item.status)" type="button" class="btn btn-info btn-sm mr-1 text-white btn-list"
            (click)="Information(item.id, item.initiativeType)">
            <i class="fas fa-eye"></i>
          </a>
          <ng-container *ngIf="
              CheckApproveOverview(item.status)">
            <a type="button" class="btn btn-success btn-sm mr-1 text-white btn-list" (click)="ApproveOverview(item.id)">
              <i class="fas fa-clipboard-check"></i>
            </a>
          </ng-container>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
<hr />
<ng-container class="mt-4">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
          [(ngModel)]="currentPage" (pageChanged)="PageChanged($event)" [maxSize]="maxSize" previousText="&lsaquo;"
          nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
        </pagination>
      </div>
    </div>
</ng-container>
