<!-- <button (click)="selectedChart('1')">1</button>
<button (click)="selectedChart('2')">2</button>
<button (click)="selectedChart('3')">3</button>
<button (click)="selectedChart('4')">4</button> -->
<!-- <h5>{{queryParam}}</h5> -->
<div id="container" style="height: 500px;"></div>
<hr>
<a [routerLink]="['/initiative/dashboard']" type="button" class="btn btn-info btn-sm"><< Back to Menu</a>
<!-- <a href="chart-waterfall">chart-waterfall</a>|
<a href="chart-bar">chart-bar</a>|
<a href="chart-stacked">chart-stacked</a>|
<a href="chart-pie">chart-pie</a>|
<a href="chart-donut">chart-donut</a>|
<a href="chart-columnrange">chart-columnrange</a>|
<a href="chart-api">chart-api</a> -->